---

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>This is the Astro Tutorial</title>
</head>
<body>
  <main>
    <h1>About this site</h1>
    <p>
      This is an in progress version of the Astro tutorial on <a href="https://docs.astro.build">Astro documentation</a>
    </p>
  </main>
</body>
</html>