---

---

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="stylesheet" href="/src/styles/base.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample Blog</title>
</head>
<body>
  <header>
    <h1>Sample Blog</h1>
    <nav>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
		</nav>
  </header>
  <main>
    <article>
      <p>This is a sample blog article.</p>
    </article>
  </main>
</body>
</html>